@namespace New_folder.Pages.Exception
@page "/exception/403"

<Result Status="403"
        Title="403"
        SubTitle="No estas autorizado para entrar aqui.">
    <Extra>
        <Button Type="primary">Back Home</Button>
    </Extra>
</Result>