/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.coverCardList .card .ant-card-meta-title[b-sqdjz493i1] {
  margin-bottom: 4px;
}
.coverCardList .card .ant-card-meta-title > a[b-sqdjz493i1] {
  display: inline-block;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.85);
}
.coverCardList .card .ant-card-meta-description[b-sqdjz493i1] {
  height: 44px;
  overflow: hidden;
  line-height: 22px;
}
.coverCardList .card:hover .ant-card-meta-title > a[b-sqdjz493i1] {
  color: #1890ff;
}
.coverCardList .cardItemContent[b-sqdjz493i1] {
  display: flex;
  height: 20px;
  margin-top: 16px;
  margin-bottom: -4px;
  line-height: 20px;
}
.coverCardList .cardItemContent > span[b-sqdjz493i1] {
  flex: 1;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}
.coverCardList .cardItemContent .avatarList[b-sqdjz493i1] {
  flex: 0 1 auto;
}
.coverCardList .cardList[b-sqdjz493i1] {
  margin-top: 24px;
}
.coverCardList .ant-list .ant-list-item-content-single[b-sqdjz493i1] {
  max-width: 100%;
}
