/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.tagSelect[b-dvyfk8e085] {
  position: relative;
  max-height: 32px;
  margin-left: -8px;
  overflow: hidden;
  line-height: 32px;
  transition: all 0.3s;
  user-select: none;
}
.tagSelect .ant-tag[b-dvyfk8e085] {
  margin-right: 24px;
  padding: 0 8px;
  font-size: 14px;
}
.tagSelect.expanded[b-dvyfk8e085] {
  max-height: 200px;
  transition: all 0.3s;
}
.tagSelect .trigger[b-dvyfk8e085] {
  position: absolute;
  top: 0;
  right: 0;
}
.tagSelect .trigger span.anticon[b-dvyfk8e085] {
  font-size: 12px;
}
.tagSelect.hasExpandTag[b-dvyfk8e085] {
  padding-right: 50px;
}
